.selector-box {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.chord-select {
  z-index: 3;
  position: relative;
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.unpressed {
  background-color: #FFF;
}

.pressed {
  background-color: #79DCC2;
  transition: 0.5s;
}


.chord-select:hover {
  background-color: #EEE;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}
